absl-py==1.2.0; python_version >= "3.6"
graphviz==0.20.1; python_version >= "3.7"
numpy==1.23.3; python_version >= "3.8"
ortools==9.4.1874; python_version >= "3.6"
protobuf==4.21.6; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.6"
